<div class="section__container header__container">
    <div class="container" id="products">
        <h1>Para iniciar sesion ingresa tus datos</h1>
        <div class="content-wrapper">
            <form id="loginForm" class="order-form">
                {% csrf_token %}
                <label for="username"></label><input type="text" id="username" placeholder="Usuario" name="username" required>
                <br>
                <label for="password"></label><input type="password" id="password" placeholder="Contraseña" name="password" required>
                <br>
                <a href="{% url 'accounts:registro' %}">Registrate aqui</a>
                <label id="errorLabel"></label>
                <br>
                <button class="btn form__btn" type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
