{% extends 'shop/base.html' %}

{% block title %}
    Registro
{% endblock %}

{% block content %}
    <div class="container" id="products">
        <h1>Contigo en todo momento, registrate ya!!!</h1>
        <div class="content-wrapper">
            <form action="{% url 'accounts:registro' %}" method="post" class="order-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn form__btn" type="submit">Registrarme</button>
                {{ form.non_field_errors }}
            </form>
        </div>
    </div>
{% endblock content %}
