{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ producto.nombre }} - Verde Vital
{% endblock %}

{% block content %}
    <div class="container">
        <div class="product-detail">
            <img class="product-image" src="
                    {% if producto.imagen %}{{ producto.imagen.url }}{% else %}{% static "img/no_imagen.png" %}{% endif %}"
                 alt="{{ producto.nombre }}">
            <div class="product-info">
                <h1>{{ producto.nombre }}</h1>
                <h2>
                    <a class="categoria" href="{{ producto.categoria.get_absolute_url }}">
                        {{ producto.categoria }}
                    </a>
                </h2>
                <p class="price">₲{{ producto.precio }}</p>
                <form action="{% url "cart:cart_agregar" producto.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Agregar al carrito" class="btn btn-primary">
                </form>
                <p class="description">{{ producto.descripcion|linebreaks }}</p>
                <a href="{% url "shop:producto_lista" %}"><input type="button" value="Volver Atras" class="btn-danger"></a>

            </div>
        </div>
    </div>
{% endblock %}
