{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="container" id="products">
        <!-- =================================
           BANNER
        ================================== -->
        <div class="hm-banner">
            <div class="img-banner">
                <img src="{% static 'img/banner.png' %}" alt="banner">
            </div>
            <a href=""></a>
        </div>

        <!-- =================================
           HOME CATEGROIAS
        ================================== -->
        <div class="hm-page-block">
            <div class="container">
                <div class="header-title">
                    <h1 data-aos="fade-up" data-aos-duration="3000">Categorías</h1>
                </div>

                <div class="hm-grid-category">

                    <div class="grid-item" data-aos="fade-up" data-aos-duration="1000">
                        <a href="{% url 'shop:producto_lista' %}">
                            <img src="{% static 'img/te.jpg' %}" alt="">
                            <div class="c-info">
                                <h3>Té e Infuciones</h3>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item" data-aos="fade-up" data-aos-duration="1500">
                        <a href="{% url 'shop:producto_lista' %}">
                            <img src="{% static 'img/suplementos.jpg' %}" alt="">
                            <div class="c-info">
                                <h3>Suplementos</h3>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item" data-aos="fade-up" data-aos-duration="2000">
                        <a href="{% url 'shop:producto_lista' %}">
                            <img src="{% static 'img/cremas.jpg' %}" alt="">
                            <div class="c-info">
                                <h3>Cremas y Ungüentos</h3>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item" data-aos="fade-up" data-aos-duration="2000">
                        <a href="{% url 'shop:producto_lista' %}">
                            <img src="{% static 'img/todos.png' %}" alt="">
                            <div class="c-info">
                                <h3>Todos</h3>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock content %}