/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 1rem;
}

.nav-links {
    align-items: center;
}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #575757;
}

.cart {
    color: white;
    padding: 1rem;
    align-items: center;
    margin-left: auto; /* Ensure the cart div is pushed to the far right */
}

.container {
    padding: 2rem;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;

}

/*Sidebar*/

#sidebar {
    width: 220px;
    padding: 30px 20px 0 0;
    float: left;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    margin: 0;
    list-style: none;
    padding: 10px 14px;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li.selected {
    background: #4CAF50;
    border-radius: 4px;
}

#sidebar ul li.selected a {
    color: #fff;
}

/*Lista de productos*/

#main {
    margin-left: 240px; /* Suma del ancho del sidebar y su margen derecho */
    padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
}

#main::after {
    content: "";
    display: table;
    clear: both;
}

.product-list .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    gap: 20px; /* Espacio entre los items */
}

.product-grid .item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;

}

.product-grid .item img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    align-self: center;
}

.product-grid .item .details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.product-grid .item .details h2 {
    flex: 1;
    margin: 0;
    font-size: 1rem;
}

.product-grid .item .details p {
    margin: 0;
    font-weight: bold;
    color: #333;
    white-space: nowrap; /* Evita que el precio se desborde en varias líneas */
}

/*Detalle producto*/

.container {
    padding: 2rem;
}

.product-detail {
    display: flex;
    background-color: white;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 2rem 0;
}

.product-image {
    max-width: 50%;
    margin-right: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-info {
    max-width: 50%;
}

.product-info h1 {
    margin-top: 0;
}

.price {
    font-size: 1.5rem;
    color: #4CAF50;
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-danger {
    background-color: #761c19;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-danger:hover {
    background-color: #C20000;
}

.btn:hover {
    background-color: #45a049;
}

.description {
    margin-top: 1rem;
    line-height: 1.6;
}

/* Estilos del carrito */

/* Tabla del carrito de compras */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th, table td {
    font-size: 14px;
    padding: 10px;
    margin: 0;
    vertical-align: middle;
    color: #0f0f0f;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background: #efefef;
}

tbody tr.subtotal {
    background: #ccc;
}

thead th, tbody tr.total {
    background: #4CAF50;
    color: #fff;
    font-weight: bold;
}

table.cart {
    margin-bottom: 40px;
}

table.cart img {
    width: 100px;
    height: auto;
}

tbody td.num {
    text-align: center;
    color: white;
}

td input[type="submit"] {
    font-size: 12px;
    padding: 4px 10px;
}

a.button, input[type="submit"] {
    color: #fff;
    background: #4CAF50;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a.button verify {
    color: #fff;
    background: #4CAF50;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
}

a.button.verify:hover {
    background-color: #45a049;
}

a.button.light {
    color: #666;
    background: #ededed;
}

a.button.light:hover {
    background-color: darkgray;
    color: white;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* Verificar Pedido */


.order-info {
    width: 300px;
    float: left;
    background: #efefef;
    padding: 10px 20px;
    color: #333;
    border-bottom: 4px solid #4CAF50;
    margin-bottom: 20px;
}

.order-info h3 {
    color: #4CAF50;
    margin-top: 0;
}

.order-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-info ul li {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.order-info ul li span {
    float: right;
}

.order-info p {
    font-weight: bold;
    float: right;
    margin-top: 10px;
}

.order-info span.neg {
    color: #dc1616;
}

.order-form {
    margin-bottom: 25px;
}

.order-form input[type="submit"] {
    align-content: center;
    padding: 10px 20px;
}

ul.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.errorlist li {
    color: #ff0000;
    font-size: 13px;
}

/* braintree hosted fields */
form div.field {
    font-size: 13px;
    color: white;
    width: 300px;
    height: 22px;
    margin-bottom: 10px;
    padding: 6px 12px;
    border: 0;
    border-radius: 4px;
    background-color: white;
}

form p label, form input {
    float: left;
    clear: both;
}

form p label {
    font-size: 14px;
}

form input {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: white;
    color: #666;
    border-radius: 4px;
}

/* styles.css */

.content-wrapper {
    margin: 0 auto; /* Esto centra el contenido horizontalmente */
    width: 50%; /* Ancho deseado del contenido */
    max-width: 800px; /* Ancho máximo para evitar que el contenido se extienda demasiado en pantallas grandes */
}


